@import "../css/showg.ttf";

body {
    height: 300px;
    background: #a5bbf7;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden
}

.preloadFont {
    font-family: 'ShowcardGothic', Impact, Charcoal, sans-serif, cursive;
    font-size: 0;
    position: absolute;
    visibility: hidden;
}

@font-face {
    font-family: "ShowcardGothic" ;
    src: url('../css/showg.ttf') format("truetype");
    font-style: normal;
}

#d1 {
    font: 700 1px ShowcardGothic;
    position: absolute;
    color: #fff;
}


canvas#gameCanvas {
    background: #7789f0;
    position: absolute;
    top: 0;
    left: 0;

}

